#header {
    height: 46px;
    background-color: #282c34;
  }
  #nav li {
    display: flex;
    float: left;
  }
  #nav li a{
    color: white;
    text-decoration: none;
    line-height: 46px;
    padding-right: 24px;
    padding-left: 24px;
  }
  .active {
    background-color: rgb(110, 110, 5);
  }